body {
    margin: 0;
    padding: 0;
    background-color: #475050;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    
}
.header{
    background: #ffffff;
    height: 40px;
    padding: 10px 60px;
    position: relative;
    z-index: 100;
}
.font-size {
    line-height: 40px;
    color: #273849;
    font-size:1.5em;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
}
.nav{ 
    list-style-type:none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 30px;
    top: 10px;
    height: 40px;
    line-height: 40px;
}
.search-form input{
    width: 174px;
    height:30px;
    box-sizing: border-box;
    padding: 0 15px 0 30px;
    margin-right:-10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 16px;
    background:#fff url(https://cn.vuejs.org/images/search.png) 8px 5px no-repeat;
    background-size:20px;
    outline: none;
}
.search-form input:focus{
    border-style:solid;
    border-color: #42b983;
}

.nav li{
    display: inline-block;
    position: relative;
    margin:0 20px;
}
a{
    text-decoration: none;
    color: #304455;
}
.arrow{
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 6px;
    margin-right: -14px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #4f5959;
}

.nav .nav-link-team{
    padding-bottom:3px;
}
.nav .nav-link-team:hover{
    border-bottom: solid #42b983 3px;
}
.nav .nav-link-contribute{
    padding-bottom:3px;
}
.nav .nav-link-contribute:hover{
    border-bottom: solid #42b983 3px;
}
.nav .nav-dropdown {
    display: none;
    box-sizing: border-box;
    max-height: calc(100vh - 61px);
    overflow-y: auto;
    position: absolute;
    top: 100%;
    right: -15px;
    background-color: #fff;
    padding: 10px 0;
    border: 1px solid #ddd;
    border-bottom-color: #ccc;
    text-align: left;
    border-radius: 4px;
    white-space: nowrap;
    width: 180px;

}
.nav li:hover .nav-dropdown{
    display: block;
}
.nav .nav-dropdown li{
    line-height: 25px;
    margin: 0;
    padding-left: 10px;
    display: block;
}
.nav .nav-dropdown ul>li:hover a{
    color: #42b983;
}
.nav .nav-dropdown li > ul{
    padding-left: 0;
}
.nav .nav-dropdown a{
    color: #354c63;
    display: block;
}
.nav .nav-dropdown li:first-child h4{
    margin-top: 0;
    padding-top: 0;
    padding-left:10px;
    border-top: 0;
}
.nav .nav-dropdown h4{
    margin: 0.45em 0 0;
    padding-top: 0.45em;
    padding-left:10px;
    border-top: 1px solid #eee;
}
.hero{
    padding: 40px 40px 30px;
    background-color: #ffffff;
}

.hero .hero-inner{
    max-width: 1260px;
    margin: 0 auto;
}
.hero .left{
    width: 39%;
    display: inline-block;
    vertical-align: top;
}
.hero .hero-logo{
    width: 215px;
    height: 215px;
    float: right;
    margin-right: 60px;
}
img{
    border: none;
}
.hero .right{
   
    width:61%;
    
    vertical-align: top;
    float: right;
}
.hero h1{
    font-weight: 300;
    margin: 0;
    font-size: 3.2em;
}
.hero .button{
    margin: 1em 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    min-width: 8em;
    text-align: center;
}
a.button.has-icon > svg{
    position: absolute;
    left: 0.4em;
    top: 0.4em;
    width: 2em;
}
a.button{
   
        padding: 0.75em 2em;
        border-radius: 2em;
        display: inline-block;
        color: #fff;
        background-color: #4fc08d;
        transition: all 0.15s ease;
        box-sizing: border-box;
        border: 1px solid #4fc08d;
}

a.button.has-icon{
    position: relative;
    text-indent: 1.4em;
}
a.button.white{
    background-color: #fff;
    color: #42b983;
}
a.button.gray{
    background: #f6f6f6;
    color: #4f5959;
    border-color: #f6f6f6;
}
.hero .button:not(:last-child){
    margin-right: 1%;
}
.highlights{
    background-color: #fff;
    padding-bottom: 70px;
}
.highlights .highlights-inner{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
   
}
.highlights .highlights-inner .point, .highlights .highlights-inner .point1{
    width: 33%;
  
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 2em;
    float: left;
}
.highlights .highlights-inner .point1{
    margin-top: 8px;
}
.clear{
    clear:both;
}
.highlights .point h2,.highlights .point1 h2{
    color: #42b983;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
    padding: 0.5em 0;
}
.highlights .point p,.highlights .point1 p{
    color: #4f5959;
}
.sponsor{
    text-align: center;
    padding: 35px 40px 45px;
    background-color: #f6f6f6;
}
.sponsor .sponsor-inner{
    max-width: 700px;
    margin: 0px auto;
}
.sponsor .sponsor-inner h3{
    color: #999;
    margin: 0 0 10px;
    font-weight: 600;
}
.sponsor a{
    display: inline-block;
    vertical-align: middle;
    margin: 20px 15px 0;
    position: relative;
}
.sponsor .become-sponsor{
  
    margin-top: 40px;
    font-size: 0.9em;
    font-weight: 700;
    
    background-color: transparent;
    color: #42b983;
    padding: 0.75em 2em;
    border-radius: 2em;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
    vertical-align: middle;
}
.sponsor .open-collective-sponsor{
    margin-top:60px;
}
.sponsor h3{
    color: #999;
    margin: 0 0 10px;
}
.sponsor h4{
    color: #999;
    margin-bottom: 0;
}
.sponsor .open-collective-sponsor a,.sponsor .open-collective-sponsor img{
    width: auto;
    max-width: 100px;
    max-height: 60px;
}
.sponsor a{
    transition: all 0.3s ease;
    filter: grayscale(100%);
    opacity: 0.66;
}
.sponsor a:hover {
    filter: none;
    opacity: 1;
}
.news{
    padding: 40px 20px 70px;
    text-align: center;
    background-color: #fff;
}
.news h3{
    font-weight: 600;
    color: #273849;
}
.news .newsletter-form{
    position: relative;
    max-width: 550px;
    margin: 0 auto;
    box-sizing: border-box;
}
.news .newsletter-input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 80px 10px 20px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}
.news .newsletter-input:focus{
    border-style:solid;
    border-color: #42b983;

}
.news .newsletter-button{
    position: absolute;
    padding: 4px 20px;
    margin: 0;
    width:134px;
    height: calc(100% - 8px);
    right: 4px;
    top: 4px;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
    font-size: 16px;
}
.news p{
    margin-top:10px;
}
.news a{
    color:#4fc08d;
}
.footer{
    padding: 40px 0;
    color: #fff;
    text-align: center;
}
.footer a{
    font-weight: 700;
    color: #fff;
}
.footer .social-icon{
    margin:0 5px;
}
.footer .social-icon svg{
    width: 18px;
    height: 18px;
}